/******************************************
/* CSS
/*******************************************/

* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;

  background: rgb(59, 81, 82);

  font-family: 'Fredoka One', 'sans-serif';
}

/* Navigation Menu Section  **************************************************/

.nav-container {
  border: 1px solid black;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
}

.nav-menu ul {
  display: flex;
  justify-content: space-around;
}

.nav-menu ul li a {
  color: rgb(255, 255, 255);
  font-size: 15px;
  letter-spacing: 1px;

  padding: 2rem;
}

/* User Section ***************************************************************/

.user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user > * {
  padding: 0.5rem;
}

.profile,
.notification,
.setting {
  font-size: 20px;
  cursor: pointer;
  color: white;
}

/* Typing Section ************************************************************/

.typing {
  border: 1px solid green;
  height: 100%;
  width: 100%;
}

.typing container p {
  border: 1px solid blue;
  height: 20rem;
  width: 70%;

  margin-left: 12rem
}